version: 1.0.{build}

before_build:


build:
  project: self-rando-windows.sln
  parallel: true
  verbosity: minimal

notifications:
- provider: Slack
  auth_token:
    secure: WuzJD0mLtM12sadwBu33d9wz20w10vIXbfYO2omvQwED4YTqk+DImfrBbYl1lewuiKXMs5ma7BV9d4qCzznZJw==
  channel: '#selfrando'
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true

image: Visual Studio 2015

configuration:
# - Debug # Broken for VS2015 Update 3
- Release

platform:
- x86 # 32-bit
- x64 # 64-bit

test_script:
- ps: >-
   If ($env:PLATFORM -Match "x86") {
        $env:VCVARS_PLATFORM="x86"
        $env:SR_PLATFORM=""
        $env:MSBUILD_PLATFORM="Win32"
   } Else {
        $env:VCVARS_PLATFORM="amd64"
        $env:SR_PLATFORM="x64"
        $env:MSBUILD_PLATFORM="x64"
   }
- cmd: call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %VCVARS_PLATFORM%
- cmd: "SET PATH=C:\\Python27;%PATH%"
- cmd: "python %APPVEYOR_BUILD_FOLDER%\\scripts\\trap-msvc-libs.py"
- cmd: "rmdir /q /s %APPVEYOR_BUILD_FOLDER%\\src\\TrapLinker\\win32\\SimpleRandoTest\\%SR_PLATFORM%\\%CONFIGURATION%"
- cmd: "msbuild /p:Configuration=%CONFIGURATION% /verbosity:minimal /target:SimpleRandoTest /p:Platform=%MSBUILD_PLATFORM%"
- cmd: "%APPVEYOR_BUILD_FOLDER%\\%SR_PLATFORM%\\%CONFIGURATION%\\SimpleRandoTest.exe"
